
html,body {
    height: 100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Header */
a,a:hover {
    text-decoration: none;
}
.navbar {
    min-height: 70px;
}
#header a {
    color: #393f43;
    font-size: 20px;
    font-weight: bold;
}

.contact-section {
    margin-top: 70px ;
    padding: 70px 0 50px 0;
    background: #16A085;
    opacity: 0.87;
}


/*Footer*/
.register {
    width: 50%;
    margin: auto;
    text-align: right;
}
.q-form{
    width: 50%;
    margin:auto;
}
footer {
    text-align: center;
    clear: both;
    position: fixed;
    height: 90px;
    bottom:0;
    width: 100%;
}
footer .copyright-container, footer .back-to-top {
    display: inline-block;
}
footer .back-to-top a {
    color: #16A085;
    opacity: 0.87;
    margin-left: 10px;
}
footer .back-to-top a i {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
footer .back-to-top a i:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}