<section class="contact-section" ng-controller="ContactController">
    <div class="container">
        <div class="text-center"><h1>Send us a message</h1></div>
        <form method="post" class="q-form form-horizontal" id="contactForm">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email </label>
                <div class="col-sm-10">
                    <input class="form-control" type="email" id="email" name="email" placeholder="johnsmith@example.com" ng-model="email">
                    <span  class="help-block hidden">Please fill your email</span>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"  for="subject">Subject </label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="subject" name="subject" placeholder="Type a subject" ng-model="subject">
                    <span  class="help-block hidden">Please fill a subject</span>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="message">Message </label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="message" name="subject" placeholder="Type a message.." ng-model="message"></textarea>
                    <span  class="help-block hidden">Please fill a message</span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <button class="btn btn-default" type="submit" name="submit" ng-click="register()">Send</button>
                </div>

            </div>

        </form>
    </div>
</section>
