<section id="hero-banner">
    <div id="banner-text">
        <h1>QShop {{name}}</h1>
        <a class="learn-more" href="#">Learn More</a>
    </div>
</section>
<section id="section-one">
    <div class="container">
        <div class="row">
            <h1>Lorem Ipsum</h1>
            <h2>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin
                literature from 45 BC, making it over 2000 years old.</h2>

            <div class="col-sm-12 col-md-4 icon-cols">
                <div class="image-wrapper">
                    <img src="assets/images/user-icon.png" />
                </div>
            </div>
            <div class="col-sm-12 col-md-4 icon-cols">
                <div class="image-wrapper">
                    <img src="assets/images/message-icon.jpg" />
                </div>
            </div>
            <div class="col-sm-12 col-md-4 icon-cols">
                <div class="image-wrapper">
                    <img src="assets/images/clock-icon.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-two">
    <div class="container">
        <div class="row group">
            <h1>Lorem Ipsum</h1>

            <h4>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin
                literature from 45 BC, making it over 2000 years old.</h4>

            <div class="col-sm-12 col-md-4 col-image">
                <a href="#">
                    <img src="assets/images/p1.jpg">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-image">
                <a href="#">
                    <img src="assets/images/p2.jpg">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-image">
                <a href="#">
                    <img src="assets/images/p3.jpg">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-image">
                <a href="#">
                    <img src="assets/images/p4.jpg">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-image">
                <a href="#">
                    <img src="assets/images/p5.jpg">
                </a>
            </div>
            <div class="col-sm-12 col-md-4 col-image">
                <a href="#">
                    <img src="assets/images/p6.jpg">
                </a>
            </div>
        </div>
    </div>
</section>
