<section class="single-product"  ng-controller="ProductController" ng-init="loadProduct()">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-repeat="img in product.pictures" ng-class="{active:$first}"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-repeat="img in product.pictures" ng-class="{active:$first}">
                            <img ng-src={{img}} alt="product1">

                            <div class="carousel-caption">
                                {{product.name}}
                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product-summary" id="product">
                    <h2 id="title">{{product.name}}</h2>

                    <div class="review-number">
                        <span class="review-count">{{product.reviews ? product.reviews.length : 0 }}</span> review(s)
                    </div>
                    <p class="price">$ {{product.price}}</p>

                    <p class="description">
                        {{product.description}}
                    </p>

                    <form method="post" class="add-to-cart">
                        <div class="row">
                            <div class="quantity clearfix col-xs-6 col-sm-6 col-md-4">
                                <input type="button" class="minus" value="-" ng-click="scade()">
                                <input type="text" class="input-text qty text" title="Qty" name="quantity" ng-model="quantity">
                                <input type="button" class="plus" value="+" ng-click="creste()">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <button type="button" class="btn btn-primary" ng-click="addToCart()">Add to cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: tabPanel == 'description'}"><a aria-controls="description" role="tab" data-toggle="tab" ng-click="showTab('description')">Description</a></li>
                <li role="presentation" ng-class="{active: tabPanel == 'specifications'}"><a aria-controls="specifications" role="tab" data-toggle="tab" ng-click="showTab('specifications')">Specifications</a></li>
                <li role="presentation" ng-class="{active: tabPanel == 'reviews'}"><a aria-controls="reviews" role="tab" data-toggle="tab" ng-click="showTab('reviews')">Reviews</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{active: tabPanel == 'description'}" id="description">
                    {{product.description}}
                </div>
                <div role="tabpanel" class="tab-pane" ng-class="{active: tabPanel == 'specifications'}" id="specifications">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="spec in product.specifications">
                                    <td>{{spec.label}}</td>
                                    <td>{{spec.value}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" ng-class="{active: tabPanel == 'reviews'}" id="reviews">
                    <table class="table">
                        <tbody>
                            <div ng-repeat="rev in product.reviews">
                                <span>{{rev.name}} : </span>
                                <span>{{rev.text}} : </span>
                            </div>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
